@page
@model MascotaFeliz.App.Frontend.Pages.BuscarMascotaModel
@{
    Layout=null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegistroMascota </title>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

</head>
<body>
    <a href="/Index" ><img src="/Imagenes/atras.png" id="atras"></a>
    <div class="caja1">
        <h1 id="titulo">Buscar</h1>
        <img src="/Imagenes/perrogato.png" id="perrogato">





    </div>

    <div class="caja3">
        <input class="inputtxt2" type="text"  id="txtId" placeholder="Ingrese el ID ">
       
        
        

        <button class="boton2" name="btnRegistrar" id="btnRegistrar2">Buscar</button>

        <a href="/PagesMascota/CreateMascota" id="ya">¿No estas registrado? </a>






    </div>
    
    

    
</body>
</html>