<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - AppMascotas</title>
    <link rel="stylesheet" href="~/css/Estilo.css">
    
    



    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</head>

<body>


    <header>
        <div class="Encabezado_superior">
            
            <div class="Logo">
              
                <img id="Logo" src="~/Imagenes/perrogato.png" alt="">

                <br>
                <h1 class="titulo">Bienvenidos</h1>
                <h1 class="titulo">Mascota Feliz</h1>
                <a href=""><img  id="logopb" src="~/Imagenes/Logo pb.png" alt=""  ></a>
               

            </div>


        </div>


        <div class="Encabezado_Barramenu">
            <div class="menu">
                <nav>
                    <ul>
                        <li  ><a href="/Index">Inicio</a> </li>
                        <li><a href="">Registrar</a>
                            <ul>
                                <li><a href="/PagesMascota/CreateMascota">Registrar Mascota</a></li>
                                <li><a href="/PagesDueno/CreateDueno">Registrar Dueño</a></li>
                                <li><a href="/PagesVeterinario/CreateVeterinario">Registrar Veterinario</a></li>
                            </ul>
                        </li>
                        <li><a href="">Consultar</a>
                            <ul>
                                <li><a href="/Front/Consulta.html">Buscar Mascota</a></li>
                                <li><a href="/PagesMascota/ListaMascotas">Mostrar Mascotas</a></li>
                                <li><a href="/PagesDueno/ListaDuenos">Mostrar Duenos</a></li>
                                <li><a href="/PagesVeterinario/ListaVeterinario">Mostrar Veterinarios</a></li>
                            </ul>
                        </li>

                        <li><a href="">VisitaPyP</a></li>
                    </ul>
                </nav>


            </div>


        </div>
    </header>





   
            @RenderBody()
      
    
   

    


</body>

</html>