@page
@model MascotaFeliz.App.Frontend.Pages.CreditosModel
@{
     Layout=null;
}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet"


    
  <body>


    <header>
        <div class="Encabezado_superior">
            
            <div class="Logo">
              
                <img id="Logo" src="~/Imagenes/perrogato.png" alt="">

                <br>
                <h1 class="titulo">Bienvenidos</h1>
                <h1 class="titulo">Mascota Feliz</h1>
                <a href="/Burger/Creditos"><img  id="logopb" src="~/Imagenes/Logo pb.png" alt=""  ></a>
               

            </div>


        </div>


        <div class="Encabezado_Barramenu">
            <div class="menu">
                <nav>
                    <ul>
                        <li  ><a href="/Index">Inicio</a> </li>
                        <li><a href="">Registrar</a>
                            <ul>
                                <li><a href="/PagesMascota/CreateMascota">Registrar Mascota</a></li>
                                <li><a href="/PagesDueno/CreateDueno">Registrar Dueño</a></li>
                                <li><a href="/PagesVeterinario/CreateVeterinario">Registrar Veterinario</a></li>
                            </ul>
                        </li>
                        <li><a href="">Consultar</a>
                            <ul>
                                <li><a href="/PagesMascota/BuscarMascota">Buscar Mascota</a></li>
                                <li><a href="/PagesMascota/ListaMascotas">Mostrar Mascotas</a></li>
                                <li><a href="/PagesDueno/ListaDuenos">Mostrar Duenos</a></li>
                                <li><a href="/PagesVeterinario/ListaVeterinario">Mostrar Veterinarios</a></li>
                            </ul>
                        </li>

                        <li><a href="/PagesVisitaPyP/CreateVisitaPyP">VisitaPyP</a></li>
                    </ul>
                </nav>


            </div>


        </div>
    </header>
    <h1 id="listadodemascotas">developed by</h1>






 
    <div class="cajat">
        <table class="tabla">

            <tr>
              <th>nombre</th>
              <th>Contacto</th>
              <th>Discord</th>
              <th>Git</th>
              
            </tr>
            <tr class="Esteban">
                <td>Esteban Francisco Janiot Rivera</td>
                <td>estebanjaniot10@gmail.com      (+57)3152901731 </td>
                <td>EstebanJaniot#5709</td>
                <td>SrJaniot</td>
            </tr>
            <tr class="Esteban">
                <td>Vanessa Sanabria Alvarez</td>
                <td>wafer0210@outlook.com       (+57)3184644152</td>
                <td>xVane#2315</td>
                <td>SraJaniot</td>
            </tr>
            <tr >
                <td>Christian Torres</td>
                <td>christianalexis399@gmail.com</td>
                <td>Halomip#6029</td>
                <td>Halomip</td>
            </tr>
            <tr >
                <td>Maria Puerta</td>
                <td>maria.puerta.sala@gmail.com</td>
                <td>mariaPuerta#6683</td>
                <td>mariapuertasalas</td>
            </tr>

            
          
            
          
            
            
          
             
            
            
            
          
      
            
           
            
            
              
          
          </table>
    </div>

   

    </body>



